@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Manrope', 'Inter', sans-serif;
  }
}

@layer components {
  .dc-container {
    @apply
    max-w-screen-2xl
    mx-auto;
  }

  .dc-grid {
    @apply
    grid
    grid-cols-12;
  }

  .dc-transition {
    @apply
    transition-all
    duration-500
    hover:-translate-y-0.5
    hover:drop-shadow-lg
    hover:shadow-dc-black;
  }

  .dc-header {
    @apply
    font-inter
    font-extrabold;
  }

  .dc-subheader {
    @apply
    font-medium
    uppercase
    tracking-[0.2em];
  }

  .dc-separator {
    @apply
    w-[50px]
    border-b
    border-b-dc-black
    mt-2;
  }
  
  .btn-desktop,
  .btn-tablet,
  .btn-mobile {
    @apply
    w-fit
    flex
    justify-center
    items-center
    font-semibold
    rounded-full
    px-5
    dc-transition;
  }

  .btn-desktop {
    min-width: 180px;
    height: 60px;
  }
  
  nav .btn-desktop {
    min-width: 150px;
    height: 50px;
  }
  
  .btn-tablet {
    min-width: 160px;
    height: 48px;
  }
  
  nav .btn-tablet {
    min-width: 120px;
    height: 40px;
  }
  
  .btn-mobile {
    min-width: 140px;
    height: 48px;
  }
  
  nav .btn-mobile {
    min-width: 100px;
    height: 40px;
  }

  .btn-dc-red {
    @apply
    bg-dc-red
    text-dc-white;
  }
  
  .btn-dc-red-outline {
    @apply
    border
    border-dc-red
    text-dc-red;
  }
  
  .btn-dc-white {
    @apply
    bg-dc-white
    text-dc-red;
  }
  
  .btn-dc-white-outline {
    @apply
    border
    border-dc-white
    text-dc-white;
  }
}

@layer utilities {
  .direction-ltr {
    direction: ltr;
  }

  .direction-rtl {
    direction: rtl;
  }
}
