@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-manrope;
  }
}

@layer components {
  .dc-container {
    @apply
    max-w-screen-2xl
    mx-auto;
  }

  .dc-grid {
    @apply
    grid
    grid-cols-12;
  }

  .dc-transition {
    @apply
    transition-all
    duration-500
    hover:-translate-y-0.5
    hover:drop-shadow-lg
    hover:shadow-dc-black;
  }

  .dc-header {
    @apply
    font-inter
    font-extrabold;
  }

  .dc-subheader {
    @apply
    font-medium
    uppercase
    tracking-[0.2em];
  }

  .dc-separator {
    @apply
    w-[50px]
    border-b
    border-b-dc-black
    mt-2;
  }

  .btn-dc {
    @apply
    min-w-[140px]
    sm:min-w-[160px]
    lg:min-w-[180px]
    w-fit
    h-[48px]
    lg:h-[60px]
    flex
    justify-center
    items-center
    font-semibold
    text-xs
    sm:text-sm
    lg:text-base
    rounded-full
    px-5
    dc-transition;
  }

  .btn-dc-red {
    @apply
    bg-dc-red
    text-dc-white
    hover:bg-dc-white
    hover:text-dc-red;
  }

  .btn-dc-red-outline {
    @apply
    border
    border-dc-red
    text-dc-red
    hover:bg-dc-red
    hover:text-dc-white;
  }

  .btn-dc-white {
    @apply
    bg-dc-white
    text-dc-red
    hover:bg-dc-red
    hover:text-dc-white;
  }

  .btn-dc-white-outline {
    @apply
    border
    border-dc-white
    text-dc-white
    hover:bg-dc-white
    hover:text-dc-black;
  }

  .dc-more-portfolio-item {
    @apply
    col-span-12     /* Mobile 1 per row */
    sm:col-span-6   /* Tablet 2 per row */
    lg:col-span-4   /* Desktop 3 per row */
    dc-transition;
  }
}

@layer utilities {
  .direction-ltr {
    direction: ltr;
  }

  .direction-rtl {
    direction: rtl;
  }
}
